{% extends 'idoldb/../util/base.html' %}
{% block content %}
    <head>
        <title>방명록</title>
    </head>
    <body class="design1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h4>방명록쓰기</h4>
                {% if isLogin %}

                    <form action="{% url 'cameLog' %}" accept-charset="utf-8" method="post"> {% csrf_token %}

                        <div class="form-group row">
                            <label for="inputNickname" class="col-lg-6 col-form-label">제목</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="~의 생일을 축하합니다!" required name="title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-6 col-form-label" for="exampleFormControlTextarea1">내용</label>
                            <div class="col-lg-6">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      required name="info"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">방명록 쓰기</button>
                    </form>
                {% else %}
                    방명록 쓰기는 로그인 후 이용해주세요
                {% endif %}

            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4>방명록</h4>
                {% for camelog in camelogs %}
                    <br>
                    <div class="card border-dark text-left">
                        <div class="card-body">
                            <h5 class="card-title">{{ camelog.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ camelog.date }}</h6>
                            <p class="card-text">{{ camelog.info }}</p>
                        </div>
                        <div class="card-footer" style="display: flex">
                            {% if camelog.user.myIdol %}
                                <a href="{% url 'idolDetail' camelog.user.myIdol.id %}">
                                    <div class="cropping">
                                        <img class="cropping_img"
                                             src="/static/{{ camelog.user.myIdol.mainPicture.name }}"
                                             alt="">

                                    </div>
                                </a>
                            {% endif %}

                            <span style="margin-left: 5px" class="text-center">{{ camelog.user.nickname }}</span>
                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>
        <nav class="all_index" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if canDown %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'cameLog' %}?index={{ canDown }}">Previous</a>
                        {% else %}
                    <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                {% endif %}
                {% for index in full_index %}
                    {% if index == now_index %}
                        <li class="page-item active">
                            {% else %}
                        <li class="page-item">
                    {% endif %}
                <a class="page-link" href="{% url 'cameLog' %}?index={{ index }}">
                    {{ index }}
                </a>
                </li>
                {% endfor %}
                {% if canUp %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'cameLog' %}?index={{ canUp }}">Next</a>
                        {% else %}
                    <li class="page-item disabled">
                    <span class="page-link">Next</span>
                {% endif %}
            </ul>
        </nav>
    </div>


    </body>
{% endblock %}