@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{
    font-family: "Nanum Gothic", serif;
}
.design1{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover
{
     text-decoration:none;
     cursor:pointer;
}
.card{
    padding-top: 15px;
    padding-bottom: 15px;
    width:230px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: 10px;
}
.card:hover{
    color: #888888;
    border: 2px solid #888888;
}
.cardGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}
.card .card_inside1{
    height: 65px;
}
.card .card_inside2{
    height: 50px;
}
.card .card_name{
    font-size: 1.3em;
}
.card .card_japaneseName{
    font-size: 0.75em;
}
.card .card_birth{
    font-size: 1.1em;
}
.profile_img{
    height: 200px;
    margin-bottom: 8px;
}
.sign_img{
    height: 100px!important;
}
#detail_table{
    border: 1px solid;
    border-collapse: collapse;
}
tr{
    border:1px solid #000;
    border-collapse: collapse;
}
td{
    border:1px solid #000;
    border-collapse: collapse;
}
.detail_img{
    height: 400px;
    margin: 10px;
}
.card_detail{
    text-align: center;
    margin-bottom: 25px;
}
.card_info{
    margin-bottom: 10px;
}
.profile_detail{
    width: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
}