<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이돌 전체 목록</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'idoldb/default.css' %}" />
    <link rel="shortcut icon" href="{% static 'idoldb/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'idoldb/favicon.ico' %}" type="image/x-icon">

</head>
<body class="design1">
<h2>모든 아이돌 목록</h2>
<div class="pro_select">
{% for pro in productions %}
    {% if pro in selected_pro %}
        <a href="/idoldb/all/?unclicked={{ pro.id }}">
            <img id="{{ pro.name }}" class="pro_select_img_checked" src="/static/{{ pro.logo.name }}" >
        </a>
    {% else %}
        <a href="/idoldb/all/?clicked={{ pro.id }}">
            <img id="{{ pro.name }}" class="pro_select_img" src="/static/{{ pro.logo.name }}">
        </a>
    {% endif %}
{% endfor %}
</div>
<br>
    <input id="searchbar" type="text" placeholder="이름 검색" value="{{ search_value }}" onkeypress="if(event.keyCode===13) {location.href='/idoldb/search/'+this.value; return false;}"/>
<div class="go_main">
    <a href="/idoldb/" class="btn">메인 페이지 가기</a>
</div>

<br>
<div class="cardGroup">
{% for idol in idols %}
    <a href="/idoldb/detail/{{ idol.id }}">
        <div class="card" style="background-color: {{ idol.color }}">
            <img class="profile_img" src="/static/{{ idol.mainPicture.name }}" alt="">
            <div class="card_inside2">
                <span class="card_name">{{ idol.KoreanName }}</span><br>
                <span class="card_japaneseName">{{ idol.KanjiName }}({{ idol.JapaneseName }})</span>
            </div>
        </div>
    </a>

{% endfor %}
</div>
<div id="all_index">
    {% if is_search %}
        {% for index in full_index %}
            <a href="/idoldb/all/?index={{ index }}&search={{ search_value }}">
                {% if index == now_index %}
                    <div class="one_index_now">
                        {{ index }}
                    </div>
                {% else %}
                    <div class="one_index">
                        {{ index }}
                    </div>
                {% endif %}
            </a>
        {% endfor %}
    {% else %}
        {% for index in full_index %}
            <a href="/idoldb/all/?index={{ index }}">
                {% if index == now_index %}
                    <div class="one_index_now">
                        {{ index }}
                    </div>
                {% else %}
                    <div class="one_index">
                        {{ index }}
                    </div>
                {% endif %}
            </a>
        {% endfor %}
    {% endif %}
</div>

</body>
</html>