{% extends 'idoldb/base.html' %}
{% block content %}
<head>
    <title>오늘 생일인 아이돌</title>
</head>
<body class="design1">
<div class="pro_select">
{% for pro in productions %}
    {% if pro in selected_pro %}
        <a class="cardLink" href="{% url 'idolMain' %}?unclicked={{ pro.id }}">
            <img id="{{ pro.name }}" class="pro_select_img_checked" src="/static/{{ pro.logo.name }}" >
        </a>
    {% else %}
        <a class="cardLink" href="{% url 'idolMain' %}?clicked={{ pro.id }}">
            <img id="{{ pro.name }}" class="pro_select_img" src="/static/{{ pro.logo.name }}">
        </a>
    {% endif %}
{% endfor %}
</div>
<br>
<h2>오늘 생일인 아이돌</h2>
{% if isToday %}
    <div class="idolcardGroup">
    {% for idol in today %}
        <a class="cardLink" href="{% url 'idolDetail' idol.id %}">
        <div class="idolcard" style="background-color: {{ idol.color }}">
                <img class="profile_img" src="/static/{{ idol.mainPicture.name }}" alt="">
                <div class="card_inside1">
                    <span class="card_name">{{ idol.KoreanName }}</span><br>
                    <span class="card_japaneseName">{{ idol.KanjiName }}({{ idol.JapaneseName }})</span><br>
                    <span class="card_birth">{{ idol.birth.month }}월 {{ idol.birth.day }}일</span>
                </div>
        </div>
        </a>
    {% endfor %}
    </div>
{% else %}
    <div class="idolcardGroup">
        <div class="idolcard" style="background-color: #c0c0c0">
            {% load staticfiles %}
            <img class="profile_img" src="{% static 'idoldb/x_icon.png' %}" alt="">
            <div class="card_inside1">
                <span class="card_name">None</span><br>
                <span class="card_japaneseName">오늘이 생일인 아이돌이 없습니다!</span><br>
                <span class="card_birth">XX월 XX일</span>
            </div>
        </div>
    </div>
{% endif %}
<br>
<br>
<h2>다음 생일인 아이돌</h2>
{% for idols in after %}
    <div class="idolcardGroup">
    {% for idol in idols %}
        <a class="cardLink" href="{% url 'idolDetail' idol.id %}">
            <div class="idolcard" style="background-color: {{ idol.color }}">
                <img class="profile_img" src="/static/{{ idol.mainPicture.name }}" alt="">
                <div class="card_inside1">
                    <span class="card_name">{{ idol.KoreanName }}</span><br>
                    <span class="card_japaneseName">{{ idol.KanjiName }}({{ idol.JapaneseName }})</span><br>
                    <span class="card_birth">{{ idol.birth.month }}월 {{ idol.birth.day }}일</span>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endfor %}
<br><br><br><br>

본 프로젝트는<br>
<a class="cardLink" href="https://blgada12.tistory.com/category/PROJECT/%EC%95%84%EC%9D%B4%EB%8F%8CDB" target="_blank"><strong>티스토리 블로그</strong>에 개발 노트가 올라가며</a><br>
<a class="cardLink" href="https://github.com/nonamep765/idolDB_Django" target="_blank"><strong>Github</strong>에 소스를 공개한 프로젝트 입니다.</a><br>
모든 사진의 저작권은 반다이 남코 엔터테이먼트에게 있습니다.<br>
문의 : nonamep765@gmail.com


</body>
{% endblock %}