{% extends 'idoldb/../util/base.html' %}
{% block content %}
    <head>
        <title>아이돌 이름 검색</title>
    <body class="design1">
    <div class="pro_select">
        {% for pro in productions %}
            {% if pro in selected_pro %}
                <a class="cardLink" href="{% url 'idolAll' %}?unclicked={{ pro.id }}">
                    <img id="{{ pro.name }}" class="pro_select_img_checked" src="/static/{{ pro.logo.name }}">
                </a>
            {% else %}
                <a class="cardLink" href="{% url 'idolAll' %}?clicked={{ pro.id }}">
                    <img id="{{ pro.name }}" class="pro_select_img" src="/static/{{ pro.logo.name }}">
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <h2>'{{ search_value }}' 검색 결과</h2>

    <div class="idolcardGroup">
        {% if is_none %}
            검색결과가 없습니다.
        {% else %}
            {% for idol in idols %}
                <a class="cardLink" href="{% url 'idolDetail' idol.id %}">
                    <div class="idolcard" style="background-color: {{ idol.color }}">
                        <img class="profile_img" src="/static/{{ idol.mainPicture.name }}" alt="">
                        <div class="card_inside2">
                            <span class="card_name">{{ idol.KoreanName }}</span><br>
                            <span class="card_japaneseName">{{ idol.KanjiName }}({{ idol.JapaneseName }})</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <nav class="all_index" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if canDown %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'idolSearch' search_value %}?index={{ canDown }}">Previous</a>
                    {% else %}
                <li class="page-item disabled">
                <span class="page-link">Previous</span>
            {% endif %}
            {% for index in full_index %}
                {% if index == now_index %}
                    <li class="page-item active">
                        {% else %}
                    <li class="page-item">
                {% endif %}
            <a class="page-link" href="{% url 'idolSearch' search_value %}?index={{ index }}">
                {{ index }}
            </a>
            </li>
            {% endfor %}
            {% if canUp %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'idolSearch' search_value %}?index={{ canUp }}">Next</a>
                    {% else %}
                <li class="page-item disabled">
                <span class="page-link">Next</span>
            {% endif %}
        </ul>
    </nav>

    </body>
{% endblock %}